.cont_menu{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  justify-content: flex-end;
  z-index: 999;
}
.container{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding: 10px;
  backdrop-filter: blur(24px);
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 8px 1px #00000030;
  width: 340px;
}
.list{
  list-style: none;
  width: 100%;
  height: 100%;
  font-family: 'Fjalla One', Century gothic, sans-serif;
  font-size: calc((1vw * 450)/100);
  color: #fff;
  padding: 0;
  margin: 0;
}
.item_list{
  padding: 1rem 0 1rem 0;
  border-radius: 1rem;
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-family: 'Anton', Impact, sans-serif;
  font-weight: 300;
}
.hyperlink{
  text-decoration: none;
  color: #ffffff;
}
.icons{
  margin-right: .3rem;
}
.item_list:nth-child(1){
  background-color: transparent;
  justify-content: flex-start;
}
/* .item_list:nth-child(2){
  padding: 0;
  height: 3rem;
} */
.search_icon{
  height: 2.5rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  margin-left: -1.3rem;
  transition: .2s;
}

.search_icon:hover{
  font-weight: 800;
  font-size: 2.3rem;
}
.btn_exit, .item_list{
  background-color: var(--colorPrimal);
  color: #fff;
}
.btn_exit{
  max-width: 2.5rem;
  max-height: 2.5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  border-radius: 50%;
  border: none;
  flex-basis: 100%;
}
.item_list:hover, .btn_exit:hover{
  background-color: var(--colorHoverBoton);
  cursor: pointer;
}

.item_list:first-child:hover{
  background-color: transparent;
  cursor: auto;
}
.open_menu{
  display: flex;
  animation-name: open_animate;
  animation-timing-function: ease-in-out;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}
.close_menu{
  display: none;
}
.hide{
  display: none;
}
@keyframes open_animate{
  from{
    transform: translateX(100vw);
  }
  to{
    transform: translateX(0);
  }
}
@media screen and (max-width: 500px){
  .container{
    width: 50vw;
  }
  .item_list{
    font-size: medium;
  }
}