.content {
  background-color: var(--colorPrmial);
  position: relative;
}
.img {
  height: 80vh;
  width: 100%;
  background: #000;
  position: relative;
}
.image_svg{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  user-select: none;
  background: #000;
}
.title {
  font-family: 'Anton', Impact, sans-serif;
  font-size: calc(1rem * 100) / 100vw;
  color: var(--colorFont);
  font-weight: 100;
  padding: 1rem 0 1rem 2rem;
}
.desc, .title {
  margin: 0;
  box-sizing: border-box;
}
.desc {
  padding: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  color: var(--colorFont);
}
.btn_list {
  font-family: 'Anton', Impact, sans-serif;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 5rem;
  align-items: center;
  background-color: var(--colorDarkPrimal);
}
.fav_btn {
  background-color: rgb(60, 112, 0);
}

.noFav_btn {
  background-color: #df4904;
}
.fav_btn,
.back_btn, 
.noFav_btn {
  flex: 1;
  box-sizing: border-box;
  margin: 1rem;
  font-family: inherit;
  font-weight: 400;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
}
.noFav_btn:hover {
  background-color: #df6e04;
  color: #4e2600;
}
.fav_btn:hover {
  background-color: #35b900;
  color: #185300;
}
.noneD{
  display: none;
}
.logo_waith{
  transform: scale(2);
}
.item{
  margin: 0 7px 0 7px ;
}
@media screen and (max-width: 780px){
  .fav_btn,
  .back_btn, 
  .noFav_btn {
    font-size: medium;
  }
}
@media screen and (max-width: 430px){
  .fav_btn,
  .back_btn, 
  .noFav_btn {
    font-size: small;
  }
}