.icon{
  /* transform: scale(1.2); */
  /* height: 6rem; */
  text-align: center;
  display: block;
  text-shadow: 0 0 3rem rgba(0, 0, 0, 0.322);
  color: var(--colorPrimal);
  /* font-size: 5rem; */
}
.header{
  height: 6rem;
  color: var(--colorPrimal);
  background: var(--colorDarkPrimal);
  display: flex;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: space-around;
}
.title{
  font-style: italic;
  font-size: xx-large;
  font-weight: 500;
}
.title, .btn_clean{
  font-family: 'Anton', Impact, sans-serif;
}
.btn_area{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background-color: var(--colorDarkPrimal);
}
.btn_clean{
  margin: 1rem;
  font-size: 150%;
  font-weight: 300;
}
.btn_disabled{
  opacity: .5;
}
@media screen and (max-width: 780px) {

  .btn_clean{
    margin: 1rem;
    font-size: 90%;
  }
}