.wrapper {
  min-width: 100%;
  min-height: 70vh;
  box-shadow: 0 0 12px 3px #0003;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 280px;
  justify-items: center;
  background: radial-gradient(var(--colorSecunda), var(--colorDarkPrimal));
  margin: auto;
  padding: 9px;
  row-gap: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}
.content_heros_empty {
  display: flex;
}
.stats_bar {
  background-color: var(--colorSecunda);
  max-width: 100vw;
  height: 40px;
}
.stats_list {
  display: grid;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--colorFont);
  box-sizing: border-box;
}
.stats_item {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.empty_result {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
  color: var(--colorDarkPrimal);
  font-weight: 800;
}
@media screen and (max-width: 750px) {
  .card {
    transform: scale(1.1, 1.3);
  }
  .wrapper {
    grid-auto-rows: 150px;
  }
}
