.warning {
  text-shadow: 0 0 10px #ffd4a9;
  box-shadow: 0 0 8px 1px #ffd4a9;
  border-radius: 4px;
  position: absolute;
  background-color: #ffebe2;
  top: 85px;
  padding: 4px;
  margin: -10px 0 4px 0;
  font-size: 14px;
  color: #ff6f2c;
  width: 90%;
  outline: 2px solid #ff6f2c;
  z-index: 9;
}

.bounce_a {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(.8, .5, .2, 1.4);
  animation-duration: 200ms;
}

@keyframes bounce {
  from {
      transform-origin: top;
      transform: scaleY(.1);
    }
  to {}
}
  