.wrapper{
  min-height: 28vw;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.slider{
  min-height: inherit;
  min-width: 70vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70vw, 1fr));
  grid-auto-flow: column;
  overflow: hidden;
}
.arrow_icon{
  color: #ffffff;
  transition: .2s;
  border-radius: 4px;
  background-color: #0005;
}
.arrow_icon:hover{
  transform: scale(1.1);
  background-color: #0007;
}
.right_arrow:focus, .left_arrow:focus{
  outline: unset;
  border: unset;
}
.right_arrow, .left_arrow{
  position: absolute;
  border: unset;
  background-color: unset;
  cursor: pointer;
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
}
.left_arrow{
  left: 0;
}
.right_arrow{
  right: 0;
}
.section{
  width: 70vw;
  height: 28vw;
  height: auto;
  background: var(--colorPrimal);
  position: relative;
  transition: .3s;
}
.bottom_points_wrapper{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: 1rem;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: 8;
}
.bottom_points:hover{
  background: var(--colorPrimal);
}
.bottom_points{
  cursor: pointer;
  border-radius: 50%;
  background: var(--colorDarkPrimal);
  box-shadow: 0 0 10px 4px #00000044;
  padding: .6rem;
  transition: 200ms;
  margin: .5rem;
}
.current{
  padding: .8rem;
}

@media screen and (max-width: 750px){
  .slider{
    grid-template-columns: repeat(auto-fill, minmax(100vw, 1fr));
  }
  .section, .slider, .wrapper{
    min-width: 100vw;
    max-width: 100vw;
    min-height: 43vw;
  }
  .bottom_points{
    padding: .4rem;
  }
  .current{
    padding: .6rem;
  }
}
