.btn_up:hover{
  background-color: #0008;
  color: #fff;
}

.btn_up{
  background: #fff8;
  position: fixed;
  z-index: 99;
  box-shadow: 0 0 12px 2px #0005;
  bottom: 5vh;
  right: 2vw;
  text-decoration: none;
  color: #000;
  outline: none;
  border: none;
  padding: .7rem;
  cursor: pointer;
  border-radius: .3rem;
  animation-name: btnTopShow;
  animation-timing-function: ease-out;
  animation-duration: .4s;

}

.item{
  margin: 0 .2rem 0 .2rem;
}

.hide_btn{
  animation: hide_btn .4s ease-in-out;
  animation-fill-mode: forwards;
}
.show_btn{
  animation-fill-mode: forwards;
  animation: show_btn .4s ease-in-out;
}

@keyframes hide_btn {
  from{
    opacity: 1;
    visibility: visible;
  }
  to{
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes show_btn {
  from{
    opacity: 0;
    visibility: hidden;
  }
  to{
    opacity: 1;
    visibility: visible;
  }
}